<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<h1>Welcome to this page</h1>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">

            <a href = "/web/register">Click here to Register</a>
            <a href = "/web/login">Click here to Login</a> <br><br>
            <a href = "/web/foradmins">This is for admins</a>

    </form>
</nav>

</body>
</html>